<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>San Jose</title>
</head>
<body class="flex justify-center items-centermd:h-screen">
    <div class="custom-grid h-screen w-screen bg-white md:max-w-lg p-2">
        <header class="shadow-md rounded-md  gradient-background p-4 mb-2 flex flex-col items-center">
            <div class="flex">
                <span class="text-white font-bold text-2xl mb-4">San Jose App</span>
            </div>
            <div class="flex flex-row items-center justify-center w-full">
                <div class="flex-grow flex flex-row items-center justify-center">
                    <a href="/home" class="text-3xl text-white cursor-pointer mx-5 transition-transform hover:scale-110 duration-150"><i class="bi bi-house-door-fill"></i></a>
                </div>
                <div class="flex-grow flex flex-row items-center justify-center">
                    <a href="/cart" class="text-3xl text-white cursor-pointer mx-5 transition-transform hover:scale-110 duration-150"><i class="bi bi-cart-fill"></i></a>
                </div>
                <div class="flex-grow flex flex-row items-center justify-center">
                    <a href="/profile" class="text-3xl text-white cursor-pointer mx-5 transition-transform hover:scale-110 duration-150"><i class="bi bi-person-fill"></i></a>
                </div>
            </div>
        </header>
        
    
