<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <title>User App</title>
</head>
<body>

    <div class="custom-grid h-screen w-screen bg-white px-40 py-5">
        <header class="shadow-md rounded-md bg-blue-400 p-4 flex flex-row items-center">
            <span class="text-white font-bold text-3xl flex-grow-0">Barangay App</span>
            <nav class="flex-grow flex flex-row justify-center">

                <a href="/home" class="text-white text-xl mr-16 font-thin transition-all duration-200 hover:font-bold">Home</a>
                <a href="/profile" class="text-white text-xl font-thin transition-all duration-200 hover:font-bold">Profile</a>
            </nav>
            <span>
                <a href="/profile" class="text-white text-xl font-bold transition-all duration-200 hover:text-yellow-400">Username</a>
            </span>
        </header>
    
