.main{
    padding: $normal;
    margin: 0 $normal $normal;
    border-radius: $small;
    box-shadow: 0px 0px 3px 3px $shadow;
    @include flex-container(none, none, column);

    position: relative;

    .main-container{
        flex-grow: 1;
        @include flex-container(none, none, column);
        header{
            flex-grow: 0;
            text-align: center;
            border-bottom: 1px solid $primary;
            padding-bottom: $small;
            span{
                color: $primary;
                font-weight: lighter;
            }
        }
        main{
            flex-grow: 1;
            height: 0;
            @include flex-container(center, none, column);
            overflow: scroll;
            
            .card{
                padding: 0 $small;
                margin-top: $normal;
                margin-bottom: $normal;
                width: 60%;
                box-shadow: 0px 0px 3px 3px $shadow;
                border-radius: $small;
                @include flex-container(none, none, column);

                @media screen and (max-width: $break-small) {
                    width: 95%;
                }

                .card__header{
                    padding: $small;
                    @include flex-container(center, none, row);
                    span{font-size: $medium; font-weight: bold;}
                    i{font-size: $normal;}
                    @media screen and (max-width: $break-small) {
                        span{font-size: $normal;}
                    }
                }
                .card__body{
                    padding: 0 $normal $small;
                }
                .card__footer{
                    @include flex-container(center, none, row);
                    padding: 0;
                    border-top: 1px solid $primary;
                    i{
                        @include flex-container(center, none, row);
                        font-size: $medium; 
                        cursor: pointer; color: 
                        $primary; padding: $small;
                        span{font-size: $normal; margin-left: $small; font-style: normal; color: $primary;}
                    }
                    @media screen and (max-width: $break-small) {
                        i{
                            span{font-size: 0.9rem;}
                        }
                    }
                }
            }
        }
    }
}