// Mixins

// buttons
@mixin button($bg-color, $fg-color, $w, $h){
    background-color: $bg-color;
    color: $fg-color;
    width: $w;
    height: $h;
    border-radius: map-get($sizes, normal);
}

// flex container
@mixin flex-container($align-items, $justify-content, $flex){
    display: flex;
    flex-direction: $flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

//center everything
@mixin center-everything(){
    display: flex;
    justify-content: center;
    align-items: center;
}