@import 'variables';
@import 'components';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    color: $text;
}
::-webkit-scrollbar {
    width: 5px; 
}
::-webkit-scrollbar-thumb {
    background-color: $primary;  
    border-radius: 6px;     
  }
a{
    text-decoration: none;
}

.body-container{
    height: 100vh;
    width: 100vw;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: $background;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    @media screen and (max-width: $break-small) {
        padding-left: 0;
        padding-right: 0;
    }
}

@import 'navbar';
@import 'body';