@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid{
    display: grid;
    grid-template-rows: 0fr 1fr 0fr;
}
.bg-trans{
    background-color: rgba(50,50,50,0.3);
}

::-webkit-scrollbar {
    width: 0px;
}
