<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <title>User App</title>
</head>
<body class="gradient-background">
    <div class="flex justify-center items-center p-1 h-screen">
        <form action="/login" method="POST"class="w-full bg-white rounded-lg shadow-lg flex flex-col p-4 items-center md:max-w-lg lg:max-w-lg" id="login_form">
            <div class="flex-grow-0 mt-8">
                <span class="text-2xl font-black mt-4 text-purple-700 text-opacity-75 text-left">Residents Login</span>
                <% if  (msg != null) {%>
                    <div class="bg-red-500 flex w-full p-2 rounded-lg mt-3 text-center" id="error_login">
                        <span class="bg-red-500 text-white w-full text-sm"><%= msg %></span>
                    </div>
                <% } %>
            </div>
            <div class="flex-grow flex flex-col w-4/5 p-4  mb-4 justify-center">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username" id="username" class="shadow-md p-3 outline-none rounded-lg mb-6 focus:bg-blue-100" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password" id="password" class="shadow-md p-3 outline-none rounded-lg focus:bg-blue-100" required>
                <button type="submit" class="bg-green-400 rounded-lg shadow-lg text-white p-3 mt-6 transition-transform hover:scale-110 active:scale-100">Submit</button>
            </div>
        </form>

    </div>
    <!-- <script src="js/login_POST.js" defer></script> -->
</body>
</html>