<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet"/>
    <title>User App</title>
</head>
<body>
    <div class="h-screen w-screen flex justify-center items-center bg-blue-300">
        
        <form action="" class="h-3/5 w-2/4 bg-white rounded-lg shadow-lg flex flex-col p-4 items-center">
            <div class="flex-grow-0 text-center mt-8">
                <span class="text-3xl font-black ">Residents Login</span>
            </div>
            <div class="flex-grow flex flex-col w-4/5 justify-center">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="Enter Username"id="username" class="shadow-md p-3 outline-none rounded-lg mb-6 focus:bg-blue-100">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter Password"id="password" class="shadow-md p-3 outline-none rounded-lg focus:bg-blue-100">
                <button type="submit" class="bg-green-400 rounded-lg shadow-lg text-white p-3 mt-6">Submit</button>
            </div>
        </form>

    </div>
</body>
</html>