<%- include('partials/header');  %>

<main class="flex flex-col mt-3 shadow-2xl rounded-lg relative">
    <section class="flex-grow-0 text-center bg-purple-blue rounded-t-lg p-2">
        <span class="font-normal text-white text-lg">Profile</span>
    </section>

    <section class="flex-grow h-0 flex flex-col items-center overflow-scroll bg-blue-fade">
        <div class="w-full p-4 shadow-md flex justify-between">
            <div class="flex flex-row">
                <span class="font-bold text-sm text-semiblack">Hello!</span>
                <span class="font-bold text-sm text-white ml-2"> <%= fname %> <%= lname %></span>
                </span>
            </div>
            <div class="flex flex-col">
                <span class="text-xs gradient-background text-white p-2 rounded-md cursor-pointer" id="open_modal_change_pass">Change password</span>
            </div>
        </div>
        <div class="w-full p-4 shadow-md flex justify-between">
            <div class="flex flex-col">
                <span class="font-bold text-sm text-semiblack">Want to take a break?</span>
            </div>
            <div class="flex flex-col">
                <a href="/logout"class="text-xs gradient-background text-white p-2 rounded-md cursor-pointer">Logout</a>
            </div>
            <!-- modal for changing password -->
            <div class="absolute top-0 left-0 w-full h-full accent-slate-200 rounded-md bg-trans hidden justify-center items-center" id="modal_change_pass">
                <form class="w-3/4 h-3/5 bg-white rounded-md shadow-sm flex flex-col p-4 px-6" id="form_change_pass">
                    <span class="text-center font-bold text-base mb-7">Change Password</span>
                    <label for="current_password" class="text-xs"> Enter current password</label>
                    <input type="password" name="current_password" id="current_password" class="shadow-md mb-3 p-2 rounded-md">
                    <label for="current_password" class="text-xs"> Enter new password</label>
                    <input type="password" name="new_password" id="new_password" class="shadow-md mb-3 p-2 rounded-md">
                    <label for="confirm_new_password" class="text-xs"> Confirm new password</label>
                    <input type="password" name="confirm_new_password" id="new_password" class="shadow-md p-2 rounded-md">
                    <button class="bg-green-400 rounded-md p-2 mt-4 font-bold text-white shadow-sm text-xs" id="submit_pass">Submit</button>
                    <button class="bg-red-400 rounded-md p-2 mt-3 font-bold text-white shadow-sm text-xs" id="close_pass">Cancel</button>
                </form>
            </div>

        </div>
    </section>
</main>

<footer></footer>
<script src="js/sendData.js"></script>
<script src="js/commentModal.js"></script>
<script src="js/changePasswordModal.js"></script>

<%- include('partials/footer');  %>
