<%- include('partials/header');  %>

<main class="flex flex-col mt-3 shadow-2xl rounded-lg relative">
    <section class="flex-grow-0 text-center bg-purple-blue rounded-t-lg p-2">
        <span class="font-normal text-white text-lg">Profile</span>
    </section>

    <section class="flex-grow h-0 flex flex-col items-center overflow-scroll bg-blue-fade">
        <div class="w-full p-4 shadow-md flex justify-between">
            <div class="flex flex-row">
                <span class="font-bold text-sm text-semiblack">Hello!</span>
                <span class="font-bold text-sm text-white ml-2"> Juan Dela Cruz!</span>
                </span>
            </div>
            <div class="flex flex-col">
                <span class="text-xs gradient-background text-white p-2 rounded-md cursor-pointer">Change password</span>
            </div>
        </div>
        <div class="w-full p-4 shadow-md flex justify-between">
            <div class="flex flex-col">
                <span class="font-bold text-sm text-semiblack">Want to take a break?</span>
            </div>
            <div class="flex flex-col">
                <span class="text-xs gradient-background text-white p-2 rounded-md cursor-pointer">Logout</span>
            </div>
        </div>
    </section>
</main>

<footer></footer>
<script src="js/sendData.js"></script>
<script src="js/commentModal.js"></script>

<%- include('partials/footer');  %>
